*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.all{
    width: 100%;
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.703)),url("./uae-4-2048x1367\ 2.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.all1{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    color: white;
}
.all2{
    display: flex;
    gap: 30px;
}
.all1 button{
    padding: 10px 30px;
    background: linear-gradient(rgba(7, 175, 145, 1));
    color: white;
    border: none;
    border-radius: 8px;
}
.img1{
    display: none;
}
.all4{
    color: white;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding-top: 60px;
}
.all4 button{
       width: 150px;
       padding: 13px 20px;
       border: none;
       border-radius: 8px;
       background: linear-gradient(rgba(1, 108, 168, 1),rgba(97, 181, 228, 1));
       color: white;
}
.all4 h1{
    font-size: 44px;
}
.all5{
    display: none;
}
.hrt{
    max-width: 1200px;
    margin: auto;
    padding-top: 80px;
    color: rgba(17, 120, 178, 1);
}
.zll{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.zll1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 470px;
}
.zll1 h4{
    color: rgba(17, 120, 178, 1);
}
.zll1 p{
    color: gray;
    line-height:23px;
}
.zll1 button{
    width: 190px;
    padding: 13px;
    color: white;
    background: linear-gradient(rgba(7, 175, 145, 1));
    border: none;
    border-radius: 8px;
}
.ccc{
    padding-top: 150px;
}
.sll{
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 30px;
    padding-top: 50px;
}
.sll1{
    width: 270px;
    height: 200px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid rgba(230, 230, 230, 0.806);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(214, 214, 214);
}
.img2{
    padding-top: 10px;
}
.zll8{
    display: none;
}
@media(max-width:600px)
{
    .all{
        background: linear-gradient(rgba(0, 0, 0, 0.703)),url("./uae-4-2048x1367\ 2.png");
    }
    .all2{
        display: none;
    }
    .img1{
        display: block;
    }
    .all3{
        display: flex;
        gap: 10px;
    }
    .all4{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .all4 h1{
        font-size: 32px;
    }
    .all4 button{
        margin: auto;
    }
    .all5{
        display: block;
        background-color: white;
        color: rgba(7, 175, 145, 1);
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .all4 h3{
          width: 300px;
          display: flex;
          margin: auto;
    }
    .hrt{
        margin: auto;
        text-align: center;
    }
    .zll{
        display: flex;
        flex-direction: column;
    }
    .zll1{
        width: 350px;
        text-align: center;
        line-height: 60px;
    }
    .zll1 button{
        margin: auto;
    }
    .zll8{
        display: block;
        margin: auto;
    }
    .xll{
        display: none;
    }
    .zll1 img{
         width: 350px;
    }
    .sll{
        display: flex;
        flex-direction: column;
        
    }
}